$primary-color: #AB93C9;
$secundary-color: #D698B9;
$warm-color1: #EDA1AB;
$warm-color2: #FFBEA3;
$white-color: #fff;
$box-shadow-config: 0 0 5px 2px rgba(#DFDFDF,.5);
$box-shadow-config2: 0 0 5px 0 rgba(#000,.2);

header {
    width: 50%;
    display: flex;
    justify-content: center;
    background: rgba($primary-color, .5);
    border-radius: 0 0 10px 10px;
    position: fixed;
    top: 0;
    left: calc(50% - 25vw);
    box-shadow: $box-shadow-config2;
    backdrop-filter: blur(10px);
    z-index: 1;

    .title {
        color: $white-color;
        font-weight: 500;
        font-size: 1.2rem;
        padding: .9em;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        user-select: none;
    }

    .svg-header {
        width: 20px;
        order: -1;
    }

    @media screen and (max-width: 590px) {
        .title {
            font-size: .9rem;
        }

        svg {
            width: 15px;
        }
    }

    @media screen and (max-width: 450px) {
        .title {
            font-size: .8rem;
            padding: .7em;
        }

        svg {
            width: 12px;
        }
    }
}

