$primary-color: #AB93C9;
$secundary-color: #D698B9;
$warm-color1: #EDA1AB;
$warm-color2: #FFBEA3;
$white-color: #fff;
$darker-color: #000;
$box-shadow-config: 0 0 5px 2px rgba(#DFDFDF,.5);
$box-shadow-config2: 0 0 5px 0 rgba(#000,.2);

@mixin baseLABEL {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5em;
    font-size: .9rem;
    font-weight: 500;
    color: $white-color;
    user-select: none;
}

.modal-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 1.2em;
    position: relative;
    margin: 0 auto;

    .top-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;
        flex-direction: column;
        margin: 0 auto;
        background: rgba($secundary-color,.5);
        padding: 1.6em 2em;
        border-radius: 10px;
        user-select: none;
        
        .title, .calc-description {
            font-size: 1.6rem;
            font-weight: 500;
        }

        .calc-description {
            font-size: 1rem;
            margin: 0 auto;

            select {
                padding: .2em .5em;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                color: $white-color;
                background: rgba($white-color, .2);
                outline: none;

                option {
                    background: rgba($primary-color, .7);
                    line-height: 2rem;
                    font-weight: 500;
                }
            }
            
        }
    }


    .base-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        gap: 2em;

        label {
            @include baseLABEL();

            input, div {
                width: 20em;
                height: 1.5em;
                padding: .2em .5em;
                border: none;
                border-radius: 5px;
                outline: none;
                background-color: rgba($white-color, .2);
            }
            
            div {
                line-height: 1.5rem;
                height: auto;
                background-color: rgba(#000, .2);
            }
        }
    }

    #base-quadratica {
        justify-content: space-evenly;
        flex-direction: row;

        label input {
            width: 15em;
        }

        .result-container {
            @include baseLABEL();
            
            div {
                width: 20em;
                padding: .2em .5em;
                border: none;
                border-radius: 5px;
                outline: none;
                line-height: 1.5rem;
                height: auto;
                background-color: rgba(#000, .2);
            }
        } 
    }

    .base-calculator {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .output {
            display: flex;
            justify-content: flex-end;
            width: 6.25em;
            height: 1em;
            line-height: 3rem;
            font-weight: 500;
            font-size: 3rem;
            padding: .5em .2em;
            background-color: rgba($darker-color, .2);
            color: white;
            overflow:hidden;
            border-radius: 5px 5px 0 0;
        }

        .calculator-btns {
            display: grid;
            grid-template-columns: repeat(4, 5em);
            grid-template-rows: repeat(6, 1fr);
            
            width: 100%;
            border-radius: 5em;


            button {
                border: none;
                padding: .7em 1em;
                background: rgba($primary-color, .2);
                font-weight: 500;
                color: $darker-color;

                &:hover {
                    background: rgba($white-color, .2);
                }
            }

            #button7, #button8, #button9,
            #button6, #button5, #button4,
            #button3, #button2, #button1,
            #button0 {
                background: rgba($warm-color2, .2);

                &:hover {
                    color: $white-color;
                }
            }

            #plus-operator, #minus-operator,
            #multiply-operator, #divide-operator {
                color: $white-color;
                &:hover {
                    background: rgba($primary-color, .7);
                }
            }
        }
    }

    



    
    
}